name: "Build"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  Build:
    name: "Release"
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4.2.2
        with:
          ref: main
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Build
        run: make

      - name: Release
        uses: softprops/action-gh-release@v2.0.9
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
          files: out/FanControl.zip
          tag_name: Draft
